Repository ansible-network/windmill-config: changes, and which Zuul jobs are due for each by the changed paths.
All: windmill-config-dns-promote, project-config-github-promote, windmill-config-tox-tools

windmill-config-dns-promote:
  parent: windmill-config-promote-base
  run: tests/playbooks/windmill-config-dns-promote/run.yaml
  required-projects:
  - name: github.com/ansible-network/windmill-config

project-config-github-promote:
  parent: windmill-config-promote-base
  run: tests/playbooks/project-config-github-promote/run.yaml
  required-projects:
  - name: github.com/ansible/project-config

windmill-config-tox-tools:
  parent: tox
  description: 'Runs the scripts from the tools directory
  
  
    Uses tox with the ``tools`` environment.
  
    '
  vars:
    tox_envlist: tools
    test_setup_skip: true

Drop limestone to 60
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

increase the number of AWS instances
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Bump vexxhost ca-ymq-1 to 40 servers
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Reduce limestone to 55 max-servers
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

AWS: ansible-zuul key rotation
  ansible/group_vars/nodepool.yaml
Due: none

Move linux nodes to l1 flavors in limestone
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

ca-ymq-1: add esxi-7.0.2
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

bump the ESXi 6.7.0 version
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Revert "Reduce limestone to 55 max-servers"
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Revert "Drop limestone to 60"
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

bump the VCSA 7.0.2 image
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

bump the ESXi 6.7.0 image
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Upgrade eos image to 4.26
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Upgrade eos image to 4.26 in ca-ymq-1 region
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Added label
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Disable zookeeper servers
  ansible/hosts.yaml
Due: windmill-config-dns-promote

Prepare for zookeeper_install_method: tarball
  ansible/group_vars/zookeeper.yaml
Due: none

Re-enable zk01
  ansible/hosts.yaml
Due: windmill-config-dns-promote

Fix zookeeper version
  ansible/group_vars/zookeeper.yaml
Due: none

Re-enable zk03
  ansible/hosts.yaml
Due: windmill-config-dns-promote

Re-enable zk02
  ansible/hosts.yaml
Due: windmill-config-dns-promote

Add zookeeper TLS certs for nodepool
  ansible/group_vars/nodepool.yaml
Due: none

Add SSL certs for zk01
  ansible/group_vars/zookeeper.yaml
  ansible/host_vars/zk01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: none

Add other zookeeper SSL certs
  ansible/host_vars/zk02.sjc1.vexxhost.zuul.ansible.com.yaml
  ansible/host_vars/zk03.sjc1.vexxhost.zuul.ansible.com.yaml
Due: none

Open zookeeper tls ports for nodepool
  ansible/group_vars/zookeeper.yaml
Due: none

Enable TLS support on zookeeper
  ansible/group_vars/zookeeper.yaml
  zookeeper/etc/zookeeper/conf/zoo.cfg
Due: none

Switch nodepool to use zookeeper TLS port
  nodepool/secure.conf.j2
Due: windmill-config-tox-tools

Remove nodepool non-tls zookeeper ports
  ansible/group_vars/zookeeper.yaml
Due: none

Add zuul tls certs for zookeeper
  ansible/group_vars/zuul.yaml
Due: none

Switch zuul to use tls for zookeeper
  ansible/group_vars/zookeeper.yaml
  zuul/zuul.conf.j2
Due: none

Drop non-tls zookeeper ports for zuul
  ansible/group_vars/zookeeper.yaml
Due: none

Stop listening on 2181 for zookeeper
  zookeeper/etc/zookeeper/conf/zoo.cfg
Due: none

Upgrade nodepool to 4.1.0
  ansible/group_vars/nodepool.yaml
Due: none

Add keystore section for zuul.conf
  ansible/group_vars/zuul.yaml
  zuul/zuul.conf.j2
Due: none

Remove ansible 2.6 from zuul-executors
  ansible/group_vars/zuul-executor.yaml
Due: none

Allow all zuul services to talk to zookeeper
  ansible/group_vars/zookeeper.yaml
  zuul/zuul.conf.j2
Due: none

Fix issue with keystore password
  zuul/zuul.conf.j2
Due: none

Bump zuul to 4.5.1
  ansible/group_vars/zuul-scheduler.yaml
  ansible/group_vars/zuul-web.yaml
  ansible/group_vars/zuul.yaml
Due: none

More things need access to the keystore.password
  zuul/zuul.conf.j2
Due: none

Drop ansible 2.7 from zuul-executor
  ansible/group_vars/zuul-executor.yaml
Due: none

Path conditions:
  windmill-config-dns-promote: any of: ansible/hosts.yaml, tests/playbooks/windmill-config-dns-promote/.*
  project-config-github-promote: any of: ^github, tools/manage-projects.py
  windmill-config-tox-tools: any of: ^nodepool, tox.ini, ^tools
