Repository ansible-network/windmill-config: changes, and which Zuul jobs are due for each by the changed paths.
All: windmill-config-dns-promote, project-config-github-promote, windmill-config-tox-tools

windmill-config-dns-promote:
  parent: windmill-config-promote-base
  run: tests/playbooks/windmill-config-dns-promote/run.yaml
  required-projects:
  - name: github.com/ansible-network/windmill-config

project-config-github-promote:
  parent: windmill-config-promote-base
  run: tests/playbooks/project-config-github-promote/run.yaml
  required-projects:
  - name: github.com/ansible/project-config

windmill-config-tox-tools:
  parent: tox
  description: 'Runs the scripts from the tools directory
  
  
    Uses tox with the ``tools`` environment.
  
    '
  vars:
    tox_envlist: tools
    test_setup_skip: true

Revert "disable vexxhost-ca-ymq-1"
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Update to ansile 2.9.13
  ansible/group_vars/zuul-executor.yaml
Due: none

define fedora-32 on AWS
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

remove fedora-31 label
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nodepool.yaml
Due: windmill-config-tox-tools

bump the VMware image version
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

AWS: fix a typo in fedora-32 metadata
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

move AWS's fedora-32 out of the fedora-32 label
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

aws: remove centos-8 temporarily
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Set max-hold-age to 86400 seconds
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nodepool.yaml
Due: windmill-config-tox-tools

AWS: use a -without-nested suffix for these labels
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Bump max-servers to 120 for limestone
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Switch centos-8 ssh host keys to FIPs mode
  nodepool/elements/nodepool-base/finalise.d/89-sshd-keygen
  nodepool/elements/nodepool-base/sshd-keygen.target
Due: windmill-config-tox-tools

Fix typo with sshd-keygen script
  nodepool/elements/nodepool-base/finalise.d/89-sshd-keygen
Due: windmill-config-tox-tools

Fix typo with sshd-keygen
  nodepool/elements/nodepool-base/finalise.d/89-sshd-keygen
Due: windmill-config-tox-tools

Add TrendMicro Appliance to AWS
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Add back ubuntu-bionic-4vcpu labels
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Rotate opendev gerrit credentials
  ansible/group_vars/zuul-connections.yaml
  ansible/group_vars/zuul.yaml
  zuul/zuul.conf.j2
Due: none

Modified ami id for Trendmicro appliance
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Update opendev zuul ssh keys
  ansible/group_vars/zuul-connections.yaml
  zuul/zuul.conf.j2
Due: none

Trendmicro-DeepSecurity-20.0.198: zuul in ssh group
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Bring online zuul-registry
  ansible/group_vars/zuul-registry.yaml
  ansible/hosts.yaml
  zuul-registry/etc/zuul-registry/registry.yaml.j2
Due: windmill-config-dns-promote

Fix typo with zuul_registry_file_registry_yaml_src
  ansible/group_vars/zuul-registry.yaml
Due: none

Add port 80/tcp for certbot
  ansible/group_vars/zuul-registry.yaml
Due: none

Switch to certbot for SSL cert
  zuul-registry/etc/zuul-registry/registry.yaml.j2
Due: none

Update tls-cert for zuul-registry
  zuul-registry/etc/zuul-registry/registry.yaml.j2
Due: none

Disable Daniel Mellado SSH key
  ansible/group_vars/all.yaml
Due: none

nodepool: fedora-33 image definition for nodepool
  nodepool/nodepool.yaml
Due: windmill-config-tox-tools

Remove auth_type for opendev
  zuul/zuul.conf.j2
Due: none

bump the VMware images
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Add dmsimard to windmill users
  ansible/group_vars/all.yaml
Due: none

Switch to l1.large for ubuntu-bionic-4vcpu
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Allow anonymous access to zuul-registry
  zuul-registry/etc/zuul-registry/registry.yaml.j2
Due: none

bump VCSA7 to 7.0.1 (a.k.a 7.0.0U1)
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Expire zuul-registry images after 7 days
  zuul-registry/etc/zuul-registry/registry.yaml.j2
Due: none

Ensure flavors are the same in limestone
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Revert "Ensure flavors are the same in limestone"
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Add ubuntu-bionic-2vcpu support
  nodepool/nl01.sjc1.vexxhost.zuul.ansible.com.yaml
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Revert "nodepool: fedora-33 image definition for nodepool"
  nodepool/nodepool.yaml
Due: windmill-config-tox-tools

Switch to v3 flavors in vexxhost
  nodepool/nl02.sjc1.vexxhost.zuul.ansible.com.yaml
Due: windmill-config-tox-tools

Unpause ubuntu-bionic
  nodepool/nodepool.yaml
Due: windmill-config-tox-tools

Path conditions:
  windmill-config-dns-promote: any of: ansible/hosts.yaml, tests/playbooks/windmill-config-dns-promote/.*
  project-config-github-promote: any of: ^github, tools/manage-projects.py
  windmill-config-tox-tools: any of: ^nodepool, tox.ini, ^tools
